.svg {
  height: 152px;
}

@media (max-width: 575px) {
  .card {
    margin-bottom: 10px;
  }
}

@media (min-width: 586px) and (max-width: 662px) {
  .card {
    height: 302px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .card {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1170px) {
  .svg {
    font-size: 5em;
  }
}
