#gambar {
  height: 100vh;
  background-size: cover;
}

.gambar {
  cursor: pointer;
}

@media (min-width: 474px) and (max-width: 564px) {
  .gambar {
    width: 80%;
    margin-left: 50px;
  }
}

@media (max-width: 576px) {
  #gambar {
    height: 300vh;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #gambar {
    height: 350vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .gambar {
    transform: scale(1.2);
  }
}
