@font-face {
  font-family: arabicfont;
  src: url("/LPMQ.ttf");
}

.arabic {
  text-align: right;
  font-family: arabicfont !important;
  font-size: large;
  line-height: 45px;
  word-spacing: 9px;
}

body {
  background-color: black;
}

@font-face {
  font-family: bismillah;
  src: url(https://cdn.qurancdn.com/assets/bismillah/bismillah-549e158d5b6487312b3012bebc8a9e8373ab47fe59c0addf5f6b354e084c6110.woff2),
    url(https://cdn.qurancdn.com/assets/bismillah/bismillah-ea3a26c47922e4b140b100daf2e19beea114e295e89e6bfa71fc04731ff26da4.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.qurancdn.com/assets/bismillah/bismillah-d9a9025689ce35726e3472c240cf846829f469519d5d5f68b5a189e4b3ad7aec.woff)
      format("woff"),
    url(https://cdn.qurancdn.com/assets/bismillah/bismillah-ce8e4b2cf44ab8709fbe90189a9cb54b6a4dc31eb8ab7f6ae68a6403d58b9b69.ttf)
      format("truetype"),
    url(https://cdn.qurancdn.com/assets/bismillah/bismillah-fe942e2d133ab63cf8e33fb921007b8ffab0048656a8f34bfdc9161966257651.svg#bismillah)
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: pdms;
  src: local("_PDMS_Saleem_QuranFont Regular"),
    url(https://cdn.qurancdn.com/assets/quran_fonts/pdms/pdms-saleem-quranfont-7cc5af52c4e8db7c5dc0a147b47ba748f5320600269e6c8514f4822c8eadfcc3.ttf);
  font-display: swap;
}
@font-face {
  font-family: kitab;
  src: url(https://cdn.qurancdn.com/assets/quran_fonts/kitab/kitab-b1edb54702766177a9c2889827a50911f6f5394cb6f64a8ff3b96f12f91aad05.woff2),
    url(https://cdn.qurancdn.com/assets/quran_fonts/kitab/kitab-09d2b65fc562be85edab32a226c9a0058acfbcddea9104f7b80cf14c7926610f.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: qalam;
  src: url(https://cdn.qurancdn.com/assets/quran_fonts/qalam/al_qalam-ca93e8a022633a79f300d23f0697ff8d82b58d0c3da7960f75bea4ac4fd30e62.ttf);
  font-display: swap;
}
@font-face {
  font-family: me_quran;
  src: url(https://cdn.qurancdn.com/assets/quran_fonts/me_quran/me_quran-1732107ad645a8c3627904ca06e836ee9435287341fca4027c0d7360d57f29ea.ttf);
  font-display: swap;
}
@font-face {
  font-family: nafees;
  src: local("Nafees"), local("Nafees Regular"),
    url(https://cdn.qurancdn.com/assets/languages/urdu/nafees/nafees-nastaleeq-webfont-71eeb4410aeefa37b57c52dde8ab3f69bfc0329eb427557eaeb667e2e835b2e3.woff2),
    url(https://cdn.qurancdn.com/assets/languages/urdu/nafees/nafees-nastaleeq-webfont-4bce35eadc490befa25a2bc9cd664e62da4b32e9a2fa58aff408f921d6bcbc9a.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.qurancdn.com/assets/languages/urdu/nafees/nafees-nastaleeq-webfont-a3bde8799798d62914005839715ab57c2abd61a35b3844671db263c04fe39f79.woff)
      format("woff"),
    url(https://cdn.qurancdn.com/assets/languages/urdu/nafees/nafees-nastaleeq-webfont-968ba2ded423e19c8c3c6037055eb12ca3225f1854d8c3652355260ba47d13cc.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: divehi;
  src: url(https://cdn.qurancdn.com/assets/languages/dhivehi/akuru/DhivehiAkuru-f5dc957d15dbb12ae99c193c2c8f6bc5ffe2667a9f055a6e4a6d6a6e7fd66eca.woff),
    url(https://cdn.qurancdn.com/assets/languages/dhivehi/akuru/DhivehiAkuru-7cb4b044c22a6a38fc9d2e2ddb892caa7d79ea8ccb4ba7f68c4fbd236a44768d.otf);
  font-display: swap;
}
@font-face {
  font-family: uthmanichafs1;
  src: url(https://cdn.qurancdn.com/assets/quran_fonts/UthmanicHafs1/UthmanicHafs1Ex1Ver12-562d8933cdd0ca397f8b8932e4eeda5fccb003bd218002f4820c9c8dd1484ad5.otf);
  font-display: swap;
}
@font-face {
  font-family: icon-surah;
  src: url(https://cdn.qurancdn.com/assets/surah_names/surah_names-e5d677784e8d3b9e2aa39ce4e1c7c139b4974c508ea8a6ab8e23e2541cebacb8.eot);
  src: url(https://cdn.qurancdn.com/assets/surah_names/surah_names-e5d677784e8d3b9e2aa39ce4e1c7c139b4974c508ea8a6ab8e23e2541cebacb8.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.qurancdn.com/assets/surah_names/surah_names-bdedc92b995e92e0b783e2c49aff5efa41d77f93da975fcb52e8bcc30f304c0e.woff2)
      format("woff2"),
    url(https://cdn.qurancdn.com/assets/surah_names/surah_names-72e41f0a6278536569f15f5c9c3691be164dcf28711da2dd7abf3b1e964a11f3.woff)
      format("woff"),
    url(https://cdn.qurancdn.com/assets/surah_names/surah_names-b44bca9a268fd4c4fce216028111da2568d3c58d56e211238f8cef420da72337.ttf)
      format("truetype"),
    url(https://cdn.qurancdn.com/assets/surah_names/surah_names-bfe5026d51aa3c0ae2d8c139823fd09caee76258f9bc69dc4ba2575c750b7da8.svg#surah_names)
      format("svg");
}
[class^="icon-surah"],
[class*=" icon-surah"] {
  font-family: icon-surah !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-surah-surah:before {
  content: "\e903";
}
.icon-surah1:before {
  content: "\E904";
}
.icon-surah2:before {
  content: "\E905";
}
.icon-surah3:before {
  content: "\E906";
}
.icon-surah4:before {
  content: "\E907";
}
.icon-surah5:before {
  content: "\E908";
}
.icon-surah6:before {
  content: "\E90b";
}
.icon-surah7:before {
  content: "\E90c";
}
.icon-surah8:before {
  content: "\E90d";
}
.icon-surah9:before {
  content: "\E90e";
}
.icon-surah10:before {
  content: "\E90f";
}
.icon-surah11:before {
  content: "\E910";
}
.icon-surah12:before {
  content: "\E911";
}
.icon-surah13:before {
  content: "\E912";
}
.icon-surah14:before {
  content: "\E913";
}
.icon-surah15:before {
  content: "\E914";
}
.icon-surah16:before {
  content: "\E915";
}
.icon-surah17:before {
  content: "\E916";
}
.icon-surah18:before {
  content: "\E917";
}
.icon-surah19:before {
  content: "\E918";
}
.icon-surah20:before {
  content: "\E919";
}
.icon-surah21:before {
  content: "\E91a";
}
.icon-surah22:before {
  content: "\E91b";
}
.icon-surah23:before {
  content: "\E91c";
}
.icon-surah24:before {
  content: "\E91d";
}
.icon-surah25:before {
  content: "\E91e";
}
.icon-surah26:before {
  content: "\E91f";
}
.icon-surah27:before {
  content: "\E920";
}
.icon-surah28:before {
  content: "\E921";
}
.icon-surah29:before {
  content: "\E922";
}
.icon-surah30:before {
  content: "\E923";
}
.icon-surah31:before {
  content: "\E924";
}
.icon-surah32:before {
  content: "\E925";
}
.icon-surah33:before {
  content: "\E926";
}
.icon-surah34:before {
  content: "\E92e";
}
.icon-surah35:before {
  content: "\E92f";
}
.icon-surah36:before {
  content: "\E930";
}
.icon-surah37:before {
  content: "\E931";
}
.icon-surah38:before {
  content: "\E909";
}
.icon-surah39:before {
  content: "\E90a";
}
.icon-surah40:before {
  content: "\E927";
}
.icon-surah41:before {
  content: "\E928";
}
.icon-surah42:before {
  content: "\E929";
}
.icon-surah43:before {
  content: "\E92a";
}
.icon-surah44:before {
  content: "\E92b";
}
.icon-surah45:before {
  content: "\E92c";
}
.icon-surah46:before {
  content: "\E92d";
}
.icon-surah47:before {
  content: "\E932";
}
.icon-surah48:before {
  content: "\E902";
}
.icon-surah49:before {
  content: "\E933";
}
.icon-surah50:before {
  content: "\E934";
}
.icon-surah51:before {
  content: "\E935";
}
.icon-surah52:before {
  content: "\E936";
}
.icon-surah53:before {
  content: "\E937";
}
.icon-surah54:before {
  content: "\E938";
}
.icon-surah55:before {
  content: "\E939";
}
.icon-surah56:before {
  content: "\E93a";
}
.icon-surah57:before {
  content: "\E93b";
}
.icon-surah58:before {
  content: "\E93c";
}
.icon-surah59:before {
  content: "\E900";
}
.icon-surah60:before {
  content: "\E901";
}
.icon-surah61:before {
  content: "\E941";
}
.icon-surah62:before {
  content: "\E942";
}
.icon-surah63:before {
  content: "\E943";
}
.icon-surah64:before {
  content: "\E944";
}
.icon-surah65:before {
  content: "\E945";
}
.icon-surah66:before {
  content: "\E946";
}
.icon-surah67:before {
  content: "\E947";
}
.icon-surah68:before {
  content: "\E948";
}
.icon-surah69:before {
  content: "\E949";
}
.icon-surah70:before {
  content: "\E94a";
}
.icon-surah71:before {
  content: "\E94b";
}
.icon-surah72:before {
  content: "\E94c";
}
.icon-surah73:before {
  content: "\E94d";
}
.icon-surah74:before {
  content: "\E94e";
}
.icon-surah75:before {
  content: "\E94f";
}
.icon-surah76:before {
  content: "\E950";
}
.icon-surah77:before {
  content: "\E951";
}
.icon-surah78:before {
  content: "\E952";
}
.icon-surah79:before {
  content: "\E93d";
}
.icon-surah80:before {
  content: "\E93e";
}
.icon-surah81:before {
  content: "\E93f";
}
.icon-surah82:before {
  content: "\E940";
}
.icon-surah83:before {
  content: "\E953";
}
.icon-surah84:before {
  content: "\E954";
}
.icon-surah85:before {
  content: "\E955";
}
.icon-surah86:before {
  content: "\E956";
}
.icon-surah87:before {
  content: "\E957";
}
.icon-surah88:before {
  content: "\E958";
}
.icon-surah89:before {
  content: "\E959";
}
.icon-surah90:before {
  content: "\E95a";
}
.icon-surah91:before {
  content: "\E95b";
}
.icon-surah92:before {
  content: "\E95c";
}
.icon-surah93:before {
  content: "\E95d";
}
.icon-surah94:before {
  content: "\E95e";
}
.icon-surah95:before {
  content: "\E95f";
}
.icon-surah96:before {
  content: "\E960";
}
.icon-surah97:before {
  content: "\E961";
}
.icon-surah98:before {
  content: "\E962";
}
.icon-surah99:before {
  content: "\E963";
}
.icon-surah100:before {
  content: "\E964";
}
.icon-surah101:before {
  content: "\E965";
}
.icon-surah102:before {
  content: "\E966";
}
.icon-surah103:before {
  content: "\E967";
}
.icon-surah104:before {
  content: "\E968";
}
.icon-surah105:before {
  content: "\E969";
}
.icon-surah106:before {
  content: "\E96a";
}
.icon-surah107:before {
  content: "\E96b";
}
.icon-surah108:before {
  content: "\E96c";
}
.icon-surah109:before {
  content: "\E96d";
}
.icon-surah110:before {
  content: "\E96e";
}
.icon-surah111:before {
  content: "\E96f";
}
.icon-surah112:before {
  content: "\E970";
}
.icon-surah113:before {
  content: "\E971";
}
.icon-surah114:before {
  content: "\E972";
}
.fa-help:before {
  content: "";
}
.fa-fb:before {
  content: "";
}
.fa-messenger:before {
  content: "";
}
.fa-pocket:before {
  content: "";
}
.fa-line:before {
  content: "";
}
.fa-pinterest:before {
  content: "";
}
.fa-reddit:before {
  content: "";
}
.fa-telegram:before {
  content: "";
}
.fa-twitter:before {
  content: "";
}
.fa-whatsapp:before {
  content: "";
}
.fa-developer:before {
  content: "";
}
.fa-bookmark:before {
  content: "";
}
.fa-caret-right:before {
  content: "";
}
.fa-pause-circle:before {
  content: "";
}
.fa-play-circle:before {
  content: "";
}
.fa-play-solid:before {
  content: "";
}
.fa-step-backward:before {
  content: "";
}
.fa-step-forward:before {
  content: "";
}
.fa-arrow-alt-left:before {
  content: "";
}
.fa-bars-regular:before {
  content: "";
}
.fa-chevron-right:before {
  content: "";
}
.fa-link-regular:before {
  content: "";
}
.fa-long-arrow-left:before {
  content: "";
}
.fa-pause-circle-regular:before {
  content: "";
}
.fa-play-circle-regular:before {
  content: "";
}
.fa-play-regular:before {
  content: "";
}
.fa-repeat-regular:before {
  content: "";
}
.fa-spinner:before {
  content: "";
}
.fa-unlink-regular:before {
  content: "";
}
.fa-bars-light:before {
  content: "";
}
.fa-bookmark1:before {
  content: "";
}
.fa-clipboard-list:before {
  content: "";
}
.fa-cog:before {
  content: "";
}
.fa-cogs:before {
  content: "";
}
.fa-copy:before {
  content: "";
}
.fa-edit:before {
  content: "";
}
.fa-ellipsis-h:before {
  content: "";
}
.fa-ellipsis-v-alt:before {
  content: "";
}
.fa-ellipsis-v:before {
  content: "";
}
.fa-envelope:before {
  content: "";
}
.fa-external-link-alt:before {
  content: "";
}
.fa-home:before {
  content: "";
}
.fa-info-circle:before {
  content: "";
}
.fa-link-light:before {
  content: "";
}
.fa-microphone:before {
  content: "";
}
.fa-minus-circle:before {
  content: "";
}
.fa-mobile:before {
  content: "";
}
.fa-music:before {
  content: "";
}
.fa-pause-circle-light:before {
  content: "";
}
.fa-play-circle-light:before {
  content: "";
}
.fa-play-light:before {
  content: "";
}
.fa-plus-circle:before {
  content: "";
}
.fa-print:before {
  content: "";
}
.fa-repeat-light:before {
  content: "";
}
.fa-search:before {
  content: "";
}
.fa-share-alt:before {
  content: "";
}
.fa-share-square:before {
  content: "";
}
.fa-tag:before {
  content: "";
}
.fa-tags:before {
  content: "";
}
.fa-times-circle:before {
  content: "";
}
.fa-times:before {
  content: "";
}
.fa-tv:before {
  content: "";
}
.fa-unlink-light:before {
  content: "";
}
.fa-play:before {
  content: "";
}
.fa-book:before {
  content: "";
}
.fa-donate:before {
  content: "";
}
@font-face {
  font-family: fac;
  src: url(https://cdn.qurancdn.com/assets/icons/fa-70653b153fa42e01c6b82b897d38694ad7077e17237332117916d0ce92aadbe8.eot);
  src: url(https://cdn.qurancdn.com/assets/icons/fa-70653b153fa42e01c6b82b897d38694ad7077e17237332117916d0ce92aadbe8.eot#iefix)
      format("embedded-opentype"),
    url(https://cdn.qurancdn.com/assets/icons/fa-3c8bfdb8697b00bf70d4d497124151b77ead38159627f9a26711d6cd752dde74.woff)
      format("woff"),
    url(https://cdn.qurancdn.com/assets/icons/fa-a6a9668ec5e07a418956141801cdcdc150b8975381e16c30f6f355c460e440bb.ttf)
      format("truetype"),
    url(https://cdn.qurancdn.com/assets/icons/fa-c35b1681a88962958c7e7f86e82f38e5daea9043deb24b04b6347dd349a5dd3b.svg#icons)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
[class^="fa-"]:before,
[class*=" fa-"]:before {
  font-family: fac;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-2x {
  font-size: 2em;
}
.uighur,
.uyghur,
.ur,
.urdu,
.persian,
.hebrew,
.pashto,
.arabic,
divehi,
.dhivehi {
  direction: rtl;
  text-align: right;
}
.uighur .alert-dismissible .close,
.uyghur .alert-dismissible .close,
.ur .alert-dismissible .close,
.urdu .alert-dismissible .close,
.persian .alert-dismissible .close,
.hebrew .alert-dismissible .close,
.pashto .alert-dismissible .close,
.arabic .alert-dismissible .close,
divehi .alert-dismissible .close,
.dhivehi .alert-dismissible .close {
  left: 0;
  right: auto;
}
.ur,
.urdu {
  font-family: nafees;
}
.divehi,
.dhivehi,
.maldivian {
  font-family: divehi;
}
.indopak,
.text_indopak {
  font-family: pdms !important;
}
.madani,
.text_uthmani_tajweed,
.text_imlaei,
.text_uthmani {
  font-family: me_quran;
}
.lang-ar input,
.lang-ur input {
  direction: rtl;
}
.text_indopak .end,
.text_uthmani .end,
.text_uthmani_tajweed .end {
  font-family: UthmanicHafs1;
  font-size: 35px;
  unicode-bidi: bidi-override;
}
.text_indopak .end *,
.text_uthmani .end *,
.text_uthmani_tajweed .end * {
  font-family: UthmanicHafs1;
  font-size: 35px;
}

#bismillah {
  color: #000;
  font-family: bismillah !important;
  padding: 25px 0;
}

/* safdiuahsiuf */

tajweed {
  cursor: pointer;
}
tajweed.ham_wasl,
tajweed.laam_shamsiyah,
tajweed.slnt {
  color: #aaa;
}
tajweed.ham_wasl:hover,
tajweed.laam_shamsiyah:hover,
tajweed.slnt:hover {
  background-color: #d7d7d7;
}
tajweed.madda_normal {
  color: #537fff;
}
tajweed.madda_permissible {
  color: #4050ff;
}
tajweed.madda_necessary {
  color: #000ebc;
}
tajweed.madda_obligatory {
  color: #2144c1;
}
tajweed.qalaqah {
  color: #dd0008;
}
tajweed.qalaqah:hover {
  background-color: #f3a6a9;
  color: #dd0008;
}
tajweed.ikhafa_shafawi {
  color: #d500b7;
}
tajweed.ikhafa_shafawi:hover {
  background-color: #f0a6e6;
  color: #d500b7;
}
tajweed.ikhafa {
  color: #9400a8;
}
tajweed.ikhafa:hover {
  background-color: #daa6e1;
  color: #9400a8;
}
tajweed.iqlab {
  color: #26bffd;
}
tajweed.iqlab:hover {
  background-color: #92e5ff;
  color: #0099c5;
}
tajweed.idgham_shafawi {
  color: #58b800;
}
tajweed.idgham_shafawi:hover {
  background-color: #bae890;
  color: #58b800;
}
tajweed.idgham_ghunnah {
  color: #169200;
}
tajweed.idgham_ghunnah:hover {
  background-color: #9ce58e;
  color: #169200;
}
tajweed.idgham_wo_ghunnah {
  color: #169200;
}
tajweed.idgham_wo_ghunnah:hover {
  background-color: #9ce58e;
  color: #169200;
}
tajweed.idgham_mutajanisayn,
tajweed.idgham_mutaqaribayn {
  color: #a1a1a1;
}
tajweed.idgham_mutajanisayn:hover,
tajweed.idgham_mutaqaribayn:hover {
  background-color: #d7d7d7;
}
tajweed.ghunnah {
  color: #ff7e1e;
}
tajweed.ghunnah:hover {
  background-color: #ff7e1e;
  color: #000;
}
.footnote #close-footnote {
  float: right;
}
.share-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1em;
  border-radius: 27px;
}
.share-icon .fa:before {
  height: 46px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-icon:hover {
  box-shadow: 0 1px 3px #999;
}
.share-icon.fb {
  background: #4267b2;
}
.share-icon.twitter {
  background: #55acee;
}
.share-icon.pinterest {
  background: #cb2027;
}
.share-icon.telegram {
  background: #37aee2;
}
.share-icon.whatsapp {
  background: #2cb742;
}
.share-icon.reddit {
  background: #5f99cf;
}
.share-icon.pocket {
  background: #ef3f56;
}
.share-icon.envelope {
  background: #0b2e13;
}
.share-icon.envelope .fa:before {
  height: 53px;
}
.share-icon.messenger {
  background: #2196f3;
}
.share-icon.line {
  background: #00b800;
}
.share-icon .fa {
  color: #fff !important;
}
.share-icon span {
  display: block;
  text-align: center;
}
.fs-sm {
  font-size: 0.78125rem !important;
}
#repeat-tabs select option[disabled] {
  display: none;
}
#loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #00acc1 !important;
}
.spinner--swirl {
  display: inline-flex;
  font-size: 64px;
  color: #fff;
  width: 1em;
  height: 1em;
  position: relative;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.spinner--swirl:before {
  top: 0.05em;
  right: 0.05em;
  bottom: 0.05em;
  left: 0.05em;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.spinner--swirl:after {
  top: 0.135em;
  right: 0.135em;
  bottom: 0.135em;
  left: 0.135em;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.spinner--swirl,
.spinner--swirl:after,
.spinner--swirl:before {
  border-radius: 50%;
  border: 0.0333em solid transparent;
  border-top-color: #00acc1;
  -webkit-animation-name: k-swirl;
  animation-name: k-swirl;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.spinner--swirl:after,
.spinner--swirl:before {
  content: "";
  position: absolute;
}
@-webkit-keyframes k-swirl {
  to {
    transform: rotate(1turn);
  }
}
@keyframes k-swirl {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
#player #player-bar {
  width: 100%;
}
#player .player-bar__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  direction: ltr !important;
}
#player .player-bar__range::-ms-track {
  width: 100%;
  cursor: pointer;
  background: 0 0;
  border-color: transparent;
  color: transparent;
}
#player .player-bar__range:hover {
  opacity: 1;
}
#player .player-bar__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00acc1;
  cursor: pointer;
  border: 4px solid #00acc1;
}
#player .player-bar__range::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: 4px solid #00acc1;
}
#player .player-bar__range::-ms-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: 4px solid #00acc1;
}
.related-sites-section .caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 172, 193, 0.7);
  border-radius: 4px;
  color: #fff;
  padding: 0 30px;
}
@media screen and (max-width: 992px) {
  .related-sites-section .caption .h3,
  .related-sites-section .caption h3 {
    font-size: 18px;
  }
  .related-sites-section .caption p {
    font-size: 12px;
  }
}
.tab-content .items {
  counter-reset: order;
  -moz-column-count: 3;
  column-count: 3;
}
@media screen and (max-width: 992px) {
  .tab-content .items {
    -moz-column-count: 1;
    column-count: 1;
  }
}
.tab-content .items li {
  position: relative;
  margin-bottom: 10px;
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
}
.tab-content .items li .juz-num {
  background: #00acc1;
  padding: 0 7px;
  left: 1px;
  border-bottom-right-radius: 4px;
  color: #fff;
}
.tab-content .items li .chapter-number-box .h5,
.tab-content .items li .chapter-number-box h5 {
  font-family: sans-serif;
}
.tab-content .items li .chapter-number-box .juz-num {
  top: 5px;
}
.tab-content .items li .chapter-number-box:hover {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #00acc1 !important;
}
.tab-content .items li .juz-container:hover {
  border: 1px solid #00acc1 !important;
}
.tab-content .items li .juz-container .juz-box:hover {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}
.tab-content .items li .juz-container .juz-box:last-child {
  border: unset !important;
}
#bismillah {
  color: #000;
  font-family: bismillah;
  font-size: 60px;
  padding: 25px 0;
}
@media screen and (max-width: 480px) {
  #bismillah {
    font-size: 45px;
    padding: 11px 0;
  }
}
.verses {
  min-height: 50px;
}
.chapters.show header {
  position: unset !important;
}
.hear-voice {
  font-size: 12px;
}
.hear-voice .fa-play {
  font-size: 19px;
  line-height: 34px;
}
.setting-button:hover {
  color: #fff !important;
}
@media screen and (max-width: 480px) {
  .setting-button {
    padding: 4px 7px 4px 3px;
  }
}
#player .play-btn {
  height: 40px;
}
.verse-actions-below .fa-play-circle {
  margin-right: 12px;
}
.verse-actions-below i.fa.fa-copy {
  margin-right: 7px;
}
.verse-actions-below i.fa.fa-book {
  margin-right: 4px;
}
.verse-actions-below i.fa.fa-share-alt {
  margin-right: 10px;
}
.verse-actions-below img {
  margin-right: 6px;
}
@media screen and (max-width: 480px) {
  .verse-actions-below .fa {
    height: 12px;
    display: block;
    margin-bottom: 18px;
  }
  .verse-actions-below .reflection-link {
    margin-top: 0 !important;
  }
  .verse-actions-below .reflection-link .small,
  .verse-actions-below .reflection-link small {
    margin-top: 2px !important;
  }
}
.surah-actions .dropdown-menu {
  width: 300px;
}
.surah-actions .dropdown-menu #chapters,
.surah-actions .dropdown-menu #verse-list {
  max-height: 350px;
  overflow: auto;
}
.surah-actions .dropdown-toggle:after {
  position: absolute;
  right: 12px;
  top: 46%;
}
@media screen and (max-width: 992px) {
  .surah-actions .surah-dropdown,
  .surah-actions .verse-dropdown {
    position: unset;
  }
  .surah-actions .surah-dropdown .dropdown-menu,
  .surah-actions .verse-dropdown .dropdown-menu {
    max-height: unset;
    position: fixed !important;
    bottom: 0;
    top: -2px !important;
    transform: unset !important;
    z-index: 850;
  }
  .surah-actions .actions-row {
    position: relative;
  }
}
.line .arabic,
.verse .arabic {
  font-size: 30px;
  line-height: normal;
  flex-flow: row wrap;
}
.line .arabic.v1,
.verse .arabic.v1 {
  word-spacing: 55px;
}
.line .result-verse,
.line .text_uthmani_tajweed,
.verse .result-verse,
.verse .text_uthmani_tajweed {
  word-spacing: normal;
  display: inline-block;
  float: right;
}
.line .text_indopak,
.verse .text_indopak {
  word-spacing: normal;
}
.verse .arabic {
  display: flex;
}
.line .arabic {
  display: inline-flex;
}
.verse .text_uthmani_tajweed {
  display: inline-block !important;
}
#verses-reading .arabic {
  word-spacing: 8px;
}
.line {
  direction: rtl;
}
.verse.highlight {
  background-color: #f5fbf7;
  border-radius: 50px;
  padding-bottom: 0.5rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
}
.verse .word.highlight,
.verse .word:hover {
  color: #00acc1 !important;
}
.verse .word.highlight::-moz-selection,
.verse .word:hover::-moz-selection {
  color: #ff7416;
}
.verse .word.highlight::selection,
.verse .word:hover::selection {
  color: #ff7416;
}
.verse .w {
  padding: 0 4px;
}
.verse .pause:not(.v1) {
  display: none;
}
.verse .bg-secondary:hover {
  color: #fff;
}
.verse .translation .resource {
  color: #00acc1;
}
.verse .translation .resource:before {
  content: "â€”";
}
.verse .translation sup {
  color: #00acc1;
  cursor: pointer;
}
.verse .translation inline-comment {
  color: #00acc1;
}
.verse .translation inline-comment:before {
  content: "(";
}
.verse .translation inline-comment:after {
  content: ")";
}
.verse .translation .small a,
.verse .translation small a {
  font-size: 14px;
  color: #607d8b;
}
.verse .translation .small i,
.verse .translation small i {
  font-size: 11px;
  color: #00acc1;
  margin-right: 5px;
}
.nav-item:active,
.nav-item:focus {
  outline: none !important;
}
.dropdown-item.active a {
  color: #fff;
}
.filter-hide {
  display: none;
}
.ff-b {
  font-weight: 700;
}
.lh-n {
  line-height: normal;
}
.c-pointer {
  cursor: pointer;
}
.custom-shadow {
  border-radius: 5px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}
.fa-center,
.fa-center-1,
.fa-center-2,
.fa-center-3 {
  height: 12px;
  vertical-align: middle;
  display: inline-block;
}
.fa-center-1 {
  height: 17px;
}
.fa-center-2 {
  height: 22px;
}
.fa-center-3 {
  height: 32px;
}
.navbar-toggler {
  padding: 7px 12px 7px 10px;
}
.navbar-toggler .fa:before {
  height: 17px;
  vertical-align: middle;
  margin: 0;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  display: none;
}
.search-form .form-group {
  position: relative;
  width: 0;
  min-width: 60px;
  height: 60px;
  overflow: visible;
  transition: width 1s;
}
.search-form .form-group input.form-control {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  width: 100%;
  height: 60px;
  margin: 0;
  z-index: 1;
}
.search-form .form-control-submit,
.search-form .search-label {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  line-height: 60px;
  background: #fff;
  z-index: 1;
}
.search-form .form-group.sb-search-open {
  width: 100%;
}
.search-form .form-group.sb-search-open .search-label {
  background: #00acc1;
  color: #fff;
  z-index: 1;
}
.search-form .form-group.sb-search-open .form-control-submit {
  z-index: 1;
}
.search-form .form-group.sb-search-open .fa {
  color: #fff;
}
.search-form .form-group.sb-search-open input.form-control {
  padding-right: 65px;
}
.rounded-search .form-control,
.rounded-search .form-control-submit,
.rounded-search .search-label {
  border-radius: 50px !important;
  border: 1px solid #00acc1;
  height: 44px !important;
}
.rounded-search .search-form {
  height: 44px;
}
.rounded-search .search-form .form-group {
  min-width: 44px;
}
.rounded-search .expand-collapse {
  position: absolute;
  right: 2%;
}
.rounded-search .expand-collapse.sb-search-open {
  width: 77%;
}
.rounded-search .form-control-submit,
.rounded-search .search-label {
  width: 44px;
  padding: 0;
  line-height: 44px;
}
.rounded-search .search-label {
  padding: 5px;
}
.rounded-search .form-group.sb-search-open input.form-control {
  padding-right: 48px;
}
@media screen and (max-width: 340px) {
  .rounded-search .search-form .form-search {
    right: 5px;
  }
}
.custom-label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
.custom-label input {
  position: absolute;
  left: -9999px;
}
.custom-label input:checked + p {
  background-color: #d6f2f5;
  color: #00acc1;
}
.custom-label input:checked + p:before {
  box-shadow: inset 0 0 0 0.4375em #00acc1;
}
.custom-label p {
  display: flex;
  align-items: center;
  padding: 0.575em 0.75em 0.575em 0.375em;
  transition: 0.25s ease;
}
.custom-label p:hover {
  background-color: #d6f2f5;
  color: #00acc1;
}
.custom-label p:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #6c757d;
}
.switch {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 40px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #fff;
  background: #000;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "ï††";
  padding: 6px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
}
.switch input:checked + .slider:before {
  content: "ï†…";
  background: #48a3b8;
  color: #f9d71c;
  border: 2px solid #48a3b8;
}
.switch .slider:after {
  content: "Night Mode";
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-21%, -50%);
  width: 100%;
  position: absolute;
  font-family: sans-serif;
}
.switch input:checked + .slider:after {
  content: "Day Mode";
  color: #48a3b8;
  right: 50%;
  left: unset;
  top: 50%;
  transform: translate(64%, -50%);
}
.switch input:checked + .slider {
  background-color: #fff;
  border: 1px solid #00acc1;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.switch input:checked + .slider:before {
  transform: translateX(98px);
}
.h2,
h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.h2 span,
h2 span {
  font-weight: 100;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
body.night {
  background: #1d1f21;
  color: #d2d2d2;
}
body.night .arabic,
body.night .nav-pills .nav-link.active {
  color: #fff !important;
}
body.night .btn-info {
  background: #33312b;
  color: #fff;
}
body.night input {
  background-color: #404040 !important;
  color: #fff !important;
}
body.night .nav-link.active,
body.night .navbar-toggler,
body.night .text-muted {
  color: #adadad !important;
}
body.night .navbar-toggler,
body.night .setting-button {
  border: 1px solid #fff;
}
body.night .theme-switch {
  background: #00c3db;
}
body.night .dropdown-toggle:after,
body.night .pagination-section .en {
  color: #fff;
}
body.night .card,
body.night .dropdown-menu,
body.night .footnote,
body.night .navbar,
body.night .sidebar,
body.night .verse.highlight,
body.night footer {
  background: #32312c !important;
}
body.night #bismillah,
body.night .verse .w {
  color: #fff;
}
body.night .bg-info,
body.night .surah-actions {
  background: #2d2d2d !important;
}
body.night .bg-info .h1,
body.night .bg-info h1,
body.night .bg-info li,
body.night .bg-info li a,
body.night .surah-actions .h1,
body.night .surah-actions h1,
body.night .surah-actions li,
body.night .surah-actions li a {
  color: #dfdfdf;
}
body.night #player {
  background: #2d2d2d !important;
  border-top: 1px solid #3a3a3a;
}
body.night .dropdown-item {
  color: #fff;
}
body.night .dropdown-item:hover {
  color: #2d2d2d;
}
body.night .surah-actions a.font-size {
  color: #00acc1;
}
body.night .surah-actions a.font-size:hover {
  color: #fff;
}
body.night .search-form {
  border-color: #2d2d2d;
  background-color: #32312c;
}
body.night .search-form input {
  background: 0 0;
}
body.night header,
body.night header.active {
  border-color: #2d2d2d;
  background: #32312c;
}
body.night .chapter-list .items ul li .name {
  color: #fff !important;
}
body.night .nav-tabs .nav-link {
  background: 0 0 !important;
}
body.night .nav-tabs .nav-item.show .nav-link,
body.night .nav-tabs .nav-link.active {
  border-bottom-color: #1c2022;
  border-bottom-color: #1d1f21;
}
body.night .right-sidebar .sidebar-head {
  border-color: #2d2d2d;
}
body.night .border-left {
  border-left-color: #1c1f21 !important;
}
body.night .main-menu li a {
  border-color: #2d2d2d;
}
body.night .main-menu li a:hover {
  background-color: #3a3636;
}
body.night .player-bar__range::-webkit-slider-thumb {
  background: #00acc1 !important;
  border-color: #fff !important;
}
body.night .player-bar__range::-moz-range-thumb {
  background: #00acc1 !important;
  border-color: #fff !important;
}
[class^="fa-"] {
  color: #b1bec5;
}
.fa-play {
  color: #00acc1;
  font-size: 25px;
}
.fa-book {
  font-size: 23px;
}
.fa-share-alt {
  font-size: 20px;
}
.nav-link:focus {
  outline: none !important;
}
